*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #1E90FF;
    color: white;
    padding: 20px;
    text-align: center;
}

main{
    padding: 20px;
}

footer{
    background-color: #1E90FF;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}